#topNav {
	.container {
		width: 100%;
		display: flex;

		.max-width-300 {
			max-width: none !important;
		}

		form.search-global {
			
			.input-group.search-group {
				display: flex;
				
				//search box
				.autosuggest {
					flex-grow: 1;
				} 
				
				.search-dropdown, input{
					width: auto;
				}
				
			}
		}
	}
}